branches:
    - "main"
    - name: "staging"
      prerelease: "alpha"
publish: ['@semantic-release/github']
verifyConditions: ['@semantic-release/github']
plugins:
    - "@semantic-release/commit-analyzer"
    - "@semantic-release/release-notes-generator"
    - "@semantic-release/github"
